/* 
    Document   : p5_indicatori
    Created on : Sep 27, 2013, 2:33:14 PM
    Author     : mtamazlicaru
    Description:
        Purpose of the stylesheet follows.
*/


.user-panel{
    border-bottom: 2px solid #aaa;
}

.project-title{
    display: inline-block;
}

.source-form-off{
    display: none;
}
