<form id="projectNamesForm" class="form-horizontal login-form text-center" action="{{path("p5indicatori_get_forms_by_project")}}" {{ form_enctype(form) }} method="POST">
                            {{ form_widget(form) }}
        <div class="control-group go-in-center" >
            <input class="btn" type="submit" name="submit" value="{{ 'Search'|trans }}" />
        </div>
    </form>
</div>
